.img {
  max-width: 100%;
  height: auto;
}

.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}

.footer-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
}

.f-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    margin: 0;
    position: relative;
  }

  header {
    min-height: 50px;
    background: lightcyan;
  }

  footer {
    background: PapayaWhip;
  }

  /* Trick: */
  body {
    position: relative;
  }

  body::after {
    content: "";
    display: block;
    height: 30px;
    /* Set same as footer's height */
  }

  /* .s-body::after {
    content: "";
    display: block;
    height: 30px;
  } */

  .s-footer {
    position: absolute;
    bottom: 17%;
    width: 100%;
    height: 30px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
  }

  .t-body::after {
    content: "";
    display: block;
    height: 70px;
  }

  .t-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
  }

  .navbar-nav > li {
    font-size: 1.1rem;
    padding-left: 6rem;
    padding-right: 20px;
  }

  .carousel img {
    position: absolute;
    top: 0;
    left: 20%;
    max-width: 60vw;
  }

  .carousel,
  .carousel-inner {
    height: 70vh;
  }

  .carousel-item {
  transition: transform 3s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 3s;
}
}

/* #title{
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: red;
} */

@media only screen and (max-width: 768px) {

  #my-form{
    margin-top: 30px; 
  }
  .testimonial {
    margin-top: 2rem;
  }

  table{
    max-width: 100vw;
    height: auto; 
  };

  .form-image {
    margin-bottom: 50px;
  }
}

ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.myNavLink:hover {
  /* border-radius: 5px; */
  color: black;
}

a {
  text-decoration: none;
}

.footer-top {
  padding: 10px 0;
  background: #333;
  text-align: left;
  color: #aaa;
}

.footer-top h3 {
  padding-bottom: 10px;
  color: #fff;
}

.footer-about img.logo-footer {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 18px;
}

.footer-about p a {
  text-decoration: none;
}

.footer-about p a:hover,
.footer-about p a:focus {
  color: #fff;
  border-color: #aaa;
}

.footer-contact p {
  word-wrap: break-word;
}

.footer-contact i {
  padding-right: 10px;
  font-size: 18px;
  color: #666;
}

.footer-contact p a {
  color: #aaa;
}

.footer-contact p a:hover,
.footer-contact p a:focus {
  color: #fff;
}

.footer-social a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 8px;
  color: #777;
  border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #aaa;
  border: 0;
}

.footer-social i {
  font-size: 24px;
  vertical-align: middle;
}

.contact-text {
  font-family: "Work Sans", sans-serif;
  /* font-size: 2rem; */
}

#contact {
  text-align: center;
  text-transform: capitalize;
  color: green;
  margin-top: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.testimonial p {
  /* line-height: 19px; */
  /* font-size: 13px; */
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  margin-top: 16px;
}

.testimonial h5 {
  color: #9c27b0;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 8px;
}

.testimonial:hover {
  background: black;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}

.form-control-input,
.form-control-textarea {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  border-radius: 30px;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  /* removes inner shadow on form inputs on ios safari */
}

.form-control-textarea {
  display: block;
  height: 16.5rem;
  /* used instead of html rows to normalize height between Chrome and IE/FF */
}

.form-control-input:focus,
.form-control-textarea:focus {
  border: 1px solid #a1a1a1;
  outline: none;
  /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-textarea:hover {
  border: 1px solid #a1a1a1;
}

.form-control-submit-button {
  display: inline-block;
  width: 100%;
  height: 3.25rem;
  border: 1px solid #4555d2;
  border-radius: 30px;
  background-color: #4555d2;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.form-control-submit-button:hover {
  border: 1px solid #4555d2;
  background-color: transparent;
  color: #4555d2;
}

.form-1 {
  text-align: left;
}

.form-1 .image-container {
  margin-bottom: 0;
}

.form-image {
  max-width: 100%;
  height: auto;
}

/* Gallery Page */

.lightbox-gallery h1 {
  margin-bottom: 40px;
  padding-top: 40px;
  color: #fff;
}

@media (max-width: 767px) {
  .lightbox-gallery h1 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }

  .carousel-control-next,
  .carousel-control-prev

  /*, .carousel-indicators */ {
    outline: white;
  }
}

.lightbox-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.lightbox-gallery .photos {
  padding-bottom: 20px;
}

.lightbox-gallery .item {
  padding-bottom: 30px;
}

.second-bg {
  background-color: #f5f5f5;
}

.index-title {
  font-family: 'Rye', cursive;
  font-size:2.5rem;
  color:#5A20CB
}

.c-text {
  font-family: "Work Sans", sans-serif;
  font-size: 1.3rem;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.heading{
  font-family: 'Spartan', sans-serif;
}

.body-text{
  font-family: 'DM Sans', sans-serif;
}

